/*beginning of _base.scss*/
@mixin border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin transform($param) {
    transform: $param;
    -moz-transform: $param;
    -ms-transform: $param;
    -webkit-transform: $param;
    -o-transform: $param;
}

.in_alphabet {
    cursor: pointer;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}


#cipher_dictionary {

}


#cipher_message {

}

#char_picker_close, .char_picker_letter, .in_alphabet, .cipher_dict_subst {
    cursor: pointer;
}

#timer {
    margin-left: 5%;
}



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*end of _base.scss*/