@import 'base';

/*#region variables*/
$font_mono: "VT323", monospace;
$font_cipher: "Patrick Hand", $font_mono;

$color_background: black;
$color_background_variant: #AD00AD;
$color_cipher_text: #52ff52;
$color_cipher_text_variant: #52FFFF;
$color_border: #00AA00;
$color_border_variant: #B0AEB0;
$color_input_background: #002200;
$fontsize_mono: 1.4em;
$fontsize_cipher: 1.0em;
/*#endregion variables*/


/*#region "generic"*/
body {
    font-family: $font_mono;
    background-color: $color_background;
    color: $color_cipher_text;
    font-size: $fontsize_mono;
    padding: 0px;
    margin: 0px;
}

a, a:visited {
    
    color: inherit;
}

a:hover {
    
    color: inherit;
}

::selection {
    background-color: $color_cipher_text;
    color: $color_background;
}

::-moz-selection {
    background-color: $color_cipher_text;
    color: $color_background;
}

.noscript {
    width: 50%;
    margin: 20px auto;
    border: solid 2px $color_cipher_text;
    padding: 8px;
}
/*#endregion "generic"*/

/*#region "game"*/
#game_container {
    display: table;    
    margin: auto;
}

#sidebar, #main {
    vertical-align: top;
    display: table-cell;
}

#main {
    padding-left: 2px;
}

/*#region dictionary*/

#cipher_dictionary {
    border: solid 2px $color_border;
    border-radius: 4px;    
    display: table;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    @include border-box
}

#dict_header, #dict_footer {
    width: 90%;
    height: 10px;
    margin: auto;
    background-color: $color_border;
}

#dict_content {
    margin: 8px;
}

#cipher_dictionary div {
    line-height: 80%;
}

.cipher_dict_row {
    display: table-row;
}

.cipher_dict_row>div {
    display: table-cell;
}

.cipher_dict_transl {
    white-space: pre;
    color: $color_cipher_text_variant;
}

.cipher_dict_subst {
    white-space: pre;
    font-family: $font_cipher;
    font-size: 0.8em;
    text-align: center;
    width: 1em;
}

.cipher_dict_count {

}

.blink {
  animation: blink .25s steps(5, start) infinite;
  -webkit-animation: blink .25s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}


/*#endregion dictionary*/

/*#region "title_bar"*/
#title_bar {
    background-color: $color_cipher_text;
    color: $color_background;
    vertical-align: middle;
    text-align: center;
}

span#msg_id>a {
    color: $color_background;
    text-decoration: underline;
}

span#msg_id>a:hover {
    //color: $color_border_variant;
}

#timer {
    color: $color_border;
}

/*#endregion "title_bar"*/

/*#region cipher*/

#cipher_message {
    padding: 1em;
}

div.cipher_msg_row {
    margin-bottom: 8px;
}

div.cipher_msg_letter_row {
    font-family: $font_cipher;
    font-size: 0.8em;
    text-align: center;
    vertical-align: bottom;
    line-height: 0.8em;
    border-collapse: separate;
}

div.cipher_msg_subst_row {
    text-align: center;
    color: $color_cipher_text_variant;
    vertical-align: top;
}

span.cipher_msg_subst, span.cipher_msg_letter {
    white-space: pre;
    display: table-cell;
    min-width: 15px;
    text-align: center;
}


.marked {
    background-color: #ffd800;
    color: $color_background;
}
/*#endregion cipher*/

/*#region "misc ui elements"*/
#command_bar {
    position: fixed;
    background-color: #001100;
    width: 100%;
    padding: 2px;
    text-align: center;
    bottom: 0px;
    left: 50%;
    @include transform(translateX(-50%));
}

#footer {
    text-align: center;    
    margin: auto;
    padding-top: 8px;
    width: 80%;
    color: $color_cipher_text;
    font-family: sans-serif;
    font-size: 0.6em;
}


form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

input {
    background-color: rgba(0, 0, 0, 0.21);

    border: dashed thin rgba(0, 0, 0, .5);
    border-radius: 4px;
    font-size: inherit;
    font-family: $font_mono;
    color: black;
}

input:focus {
    color: indianred;
}

.accesskey {
    text-decoration: underline;
}

#win_dlg {
    position: fixed;
    top: 40px;
    left: 50%;    
    @include transform(translateX(-50%))
}

#win_msg {
    background-color:$color_background_variant;
    color: white;
    border: 2px solid $color_border_variant;
    padding: 4px 8px;
}

div#try_another {
    font-size: 0.7em;
    text-align: center;
    margin: 4px auto;
}

div#try_another>a {
    border-radius: 5px;
    padding: 2px;
    color: black;
    background-color: $color_border;
    text-decoration: none;
}

div#try_another>a:visited {
    color: black;
    text-decoration: none;
}

div#try_another>a:hover {
    background-color: $color_cipher_text;
}
/*#endregion "misc ui elements"*/

/*#endregion "game"*/

